::-webkit-scrollbar {
  display: none;
}

.rootContainer {
  margin: 20px 20px 0 260px;
}

.sideNav {
  width: 240px !important;
  box-shadow: none !important;
  border-right: 1px solid lightgrey
}

.ticketContainer {
  color: red !important;
}